block content
  h1= title
  p Project #{title}

  form(method="post", action="/search")
    label(for='eventsearch') Event Search 
    input(type="text", name='query',value='', placeholder='')
    p
    input(type="submit")

